# =========================
# Node (todas las apps)
# =========================
**/node_modules/

# =========================
# Logs
# =========================
**/*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =========================
# Env
# =========================
**/.env
**/.env.*
!.env.example

# =========================
# Builds
# =========================
**/dist/
**/build/
**/out/

# =========================
# Expo / React Native
# =========================
**/.expo/
**/.expo-shared/
**/web-build/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# Tests
# =========================
coverage/
